[Unit]
Description=Back up airsonic's database rebuild script

# We stop Airsonic while creating a backup to ensure the restore script is in a
# sane state.
[Service]
Type=oneshot
ExecStartPre=/usr/bin/systemctl stop airsonic
ExecStart=/usr/bin/install -Dm640 /var/lib/airsonic/db/airsonic.script \
    /var/local/airsonic/backups/
ExecStartPost=/usr/bin/systemctl start airsonic
